@charset "utf-8";
/* CSS Document for Language my_MM */

@font-face {
	font-family: 'zawgyi-oneregular';
	src: url('../files/fonts/zawgyione/zawgyione-webfont.eot');
	src: url('../files/fonts/zawgyione/zawgyione-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../files/fonts/zawgyione/zawgyione-webfont.woff') format('woff'),
		 url('../files/fonts/zawgyione/zawgyione-webfont.ttf') format('truetype'),
		 url('../files/fonts/zawgyione/zawgyione-webfont.svg#zawgyi-oneregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'myanmar3regular';
	src: url('../files/fonts/myanmar3/myanmar3-webfont.eot');
	src: url('../files/fonts/myanmar3/myanmar3-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../files/fonts/myanmar3/myanmar3-webfont.woff2') format('woff2'),
		 url('../files/fonts/myanmar3/myanmar3-webfont.woff') format('woff'),
		 url('../files/fonts/myanmar3/myanmar3-webfont.ttf') format('truetype'),
		 url('../files/fonts/myanmar3/myanmar3-webfont.svg#myanmar3regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

.my body, .my{
	font-family: "Arial", "myanmar3", "myanmar3regular", "zawgyi-oneregular", "Zawgyi-One", Helvetica, sans-serif;
}

.my input, input[name$='_my'], input.my, select.my, textarea.my, .my button{
	font-family: "Arial", "myanmar3", "myanmar3regular", "zawgyi-oneregular", "Zawgyi-One", Helvetica, sans-serif !important;
}

.my h1, .my h2, .my h3, .my h4, .my h5, .my h6 {
	font-family: "Arial", "myanmar3", "myanmar3regular", "zawgyi-oneregular", "Zawgyi-One", Helvetica, sans-serif;
	letter-spacing: 1px;
}

.my .ui-widget {
    font-family: "Arial", "myanmar3", "myanmar3regular", "zawgyi-oneregular", "Zawgyi-One", Arial, sans-serif;
}