# Protect files and directories from prying eyes.
<FilesMatch "\.(salt|engine|inc|po|sh|.*sql|theme|tpl(\.php)?|xtmpl)$|^(\..*|Entries.*|Repository|Root|Tag|Template)$">
  Order allow,deny
</FilesMatch>

# Don't show directory listings for URLs which map to a directory.
Options -Indexes

# Set the default handler.
DirectoryIndex index.php index.html index.htm

<IfModule mod_rewrite.c>
	RewriteEngine on

	# ~/blog/99/foo-bar to ~/app/blog-page/?lang=~&id=99&slug=foo-bar
	RewriteRule ^(([a-z]{2}|[a-z]{2}-[A-Z]{2})/)?blog/([0-9]+)/(.*)$ app/index.php?lang=$1&id=$3&slug=$4&route=blog-page [NC,L]
			
	RewriteRule ^tests/?(.*) app/index.php [NC,L]
	RewriteRule ^xhr/?(.*) app/index.php [NC,L]
	
	RewriteRule ^index.php$ app/index.php [NC,L]
	
	# If the request is not for a valid file
	RewriteCond %{REQUEST_FILENAME} !-f	
	# If the request is not for a valid directory
	RewriteCond %{REQUEST_FILENAME} !-d
	# If the request is not for a valid link
	RewriteCond %{REQUEST_FILENAME} !-l
	
	RewriteRule ^ app/index.php [L]   
</IfModule>